* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

body {
        background: linear-gradient(180deg, #374151 0%, #111827 100%);
        width: 1440px;
}

header {
        padding-top: 71px;
}

nav {
        width: 734px;
}

nav ul {
        display: flex;
        gap: 49px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
}

nav li {
        list-style: none;
}

nav li a {
        display: flex;
        text-align: center;
        gap: 11px;
        justify-content: space-between;
        align-items: center;
}


li {
        list-style: none;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
}

input {
        color: #FFFFFF;
        background: #1F293799;

        height: 40px;
        border-radius: 100px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
}

h1 {
        color: #FFFFFF;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 30px;
}

main {
        padding-right: 272px;
        padding-left: 272px;
}

p {
        text-align: center;
        margin-bottom: 30px;
}

footer {
        color: #FFFFFF;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
        margin-top: 103px;
        margin-bottom: 77px;
}

.container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 346px;
        width: 1080px;
        margin: auto;
}

.item {
        display: flex;
        align-items: baseline;
}

.blog,
.also {
        color: #FFFFFF;
        font-family: Roboto;
        font-weight: 400;
        letter-spacing: 0em;
        text-align: left;
        text-decoration: none;
}

.brand {
        color: #FFFFFF;
        font-family: Source Sans Pro;
        font-size: 18px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: center;
        text-decoration: none;
        background-color: #4B5563;
        width: 35px;
        height: 35px;
        padding: 6px;
}

.blog {
        font-size: 18px;
        line-height: 21px;
}

.also {
        font-size: 16px;
        line-height: 19px;
}

.search-label {
        display: flex;
        align-items: center;
        background-color: #1F293799;
        border-radius: 100px;
        padding: 0 16px;
        width: 224px;
        height: 40px;
        gap: 5px;
}


.search-label img {
        width: 16px;
        height: 16px;
}

.search-label input {
        flex: 1;
        margin-left: 8px;
        border: none;
        background-color: transparent;
        color: #FFFFFF;
        font-family: Roboto;
}

.hero {
        color: #FFFFFF;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
        margin-top: 80px;
        margin-bottom: 14px;
}

.container2 {
        display: flex;
        justify-content: center;
        margin-bottom: 28px;
}

.text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 16px;
        gap: 0px;
}

.name {
        font-size: 16px;
}

.developer {
        font-size: 14px;
}

.name,
.developer {
        color: #FFFFFF;
        font-family: Roboto;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
}

.img {
        margin-bottom: 69px;
        text-align: center;
        width: 896px;
        height: 594px;
        border: 5px;
}

.partOne,
.other {
        color: #FFFFFF;
        font-family: Roboto;
        font-weight: 400;
        letter-spacing: 0em;
        text-align: left;
}

.partOne {
        font-size: 20px;
        line-height: 32px;
}

.other {
        font-size: 16px;
        line-height: 30px;
}