* {
        box-sizing: border-box;
}

body {
        background: linear-gradient(0deg, #F39494, #F39494),
                linear-gradient(243.18deg, #FDC5C5 25.45%, rgba(242, 152, 222, 0) 100%),
                linear-gradient(243.43deg, #FFA5A5 32.96%, rgba(255, 255, 255, 0) 82.03%);
}

main {
        background: #FFFEFE;
        border-radius: 10px;
        padding-top: 72px;
        padding-bottom: 91px;
        width: 582px;
        height: 573px;
        margin: auto;
}

h1 {
        color: #333333;
        font-family: Open Sans, sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 0;
}

p {
        margin: 0px 172px 47px 173px;
}

button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 56px;
        padding-right: 22px;
        padding-left: 102px;
}

.question {
        color: #666666;
        font-family: Open Sans, sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
}

.entrance {
        color: #089FE0;
        font-family: Open Sans, sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 47px;
}

.container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
}

.item {
        margin-bottom: 22px;
        width: 394px;
        height: 44px;
}

.item1 #company {
        color: #333333;
        font-family: Open Sans, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        border-radius: 5px;
        border: 1px solid #F5F5F5;
        padding-left: 11px;
        height: 44px;
        width: 394px;
}

.forEach {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: calc((394px - 2px) / 2);
}

.item2 #name {
        background: #F5F5F5;
        font-family: Open Sans, sans-serif;
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #999999;
        height: 44px;
        border: 1px;
        border-radius: 5px;
        width: 196px;
        padding: 9px 36px 9px 11px;
}


.item3 #surname {
        background: #F5F5F5;
        font-family: Open Sans, sans-serif;
        color: #999999;
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        height: 44px;
        border-radius: 5px;
        border: 1px;
        width: 196px;
        padding: 9px 35px 9px 10px;
}

.item2 {
        margin-right: 1px;
}

.item3 {
        margin-left: 1px;
}

.item4 #email {
        background: #F5F5F5;
        color: #999999;
        font-family: Open Sans, sans-serif;
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        border: 1px;
        border-radius: 5px;
        width: 395px;
        height: 44px;
        border-radius: 5px;
        padding: 9px 232px 9px 11px;
}

.item5 button {
        background: #089FE0;
        color: #FFFFFF;
        font-family: Open Sans, sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        width: 398.5px;
        height: 44px;
        border-radius: 5px;
        border: solid #FFFFFF;
}

.button-img {
        float: right;
        border: 3px;
}

.item6 .condition {
        color: #089FE0;
        font-family: Open Sans, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        text-decoration: none;
}

.item6 .read {
        color: #666666;
        font-family: Open Sans, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
}

.item6 {
        width: 371px;
        height: 19px;
        border-radius: 5px;
        border: 1px;
        text-align: center;
}