* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

body {
        background: linear-gradient(0deg, #F39494, #F39494),
                linear-gradient(243.18deg, #FDC5C5 25.45%, rgba(242, 152, 222, 0) 100%),
                linear-gradient(243.43deg, #FFA5A5 32.96%, rgba(255, 255, 255, 0) 82.03%);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
}

main {
        background: #FFFEFE;
        border-radius: 10px;
        max-width: 582px;
        padding: 72px 95px 91px 95px;
}

h1 {
        color: #333333;
        font-family: Open Sans, sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: center;
}

p {
        text-align: center;
        margin-bottom: 47px;
}

.question {
        color: #666666;
        font-family: Open Sans, sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
}

.entrance {
        color: #089FE0;
        font-family: Open Sans, sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
}

.formForItems {
        display: flex;
        flex-direction: column;
        gap: 22px;
}

.item {
        max-width: 394px;
        height: 44px;
}

.item1 #company {
        color: #333333;
        font-family: Open Sans, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        border-radius: 5px;
        border: 1px solid #F5F5F5;
        padding-left: 11px;
        width: 100%;
        height: 44px;
}

.forEach {
        display: flex;
        gap: 2px;
}

.item2 #name {
        background: #F5F5F5;
        font-family: Open Sans, sans-serif;
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #999999;
        border: 1px;
        border-radius: 5px;
        width: 100%;
        padding: 9px 36px 9px 11px;
}


.item3 #surname {
        background: #F5F5F5;
        font-family: Open Sans, sans-serif;
        color: #999999;
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        border-radius: 5px;
        border: 1px;
        padding: 9px 35px 9px 10px;
        width: 100%;
}

.item4 #email {
        background: #F5F5F5;
        color: #999999;
        font-family: Open Sans, sans-serif;
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        border: 1px;
        border-radius: 5px;
        border-radius: 5px;
        padding: 9px 232px 9px 11px;
        width: 100%;
}

.item5 {
        padding: 9px 11px;
        border: none;
        border-radius: 5px;
        position: relative;
        background: #089FE0;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        border: solid #FFFFFF;
        width: 100%;
        text-align: center;
}

.button-img {
        position: absolute;
        margin-left: 56px;
}


.item6 .condition {
        color: #089FE0;
        font-family: Open Sans, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        text-decoration: none;
}

.item6 .read {
        color: #666666;
        font-family: Open Sans, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
}

.item6 {
        height: 19px;
        border-radius: 5px;
        border: 1px;
        text-align: center;
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
}