/* Button */

.button {
    cursor: pointer;
    padding: 12px 32px;
    border-radius: 34px;
    font-size: 17px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
}

.button_white {
    color: var(--color-blue);
    background: var(--color-white);
}

.button_white:hover {
    background: var(--menu-item-color);
}

.button_white:active {
    background: var(--menu-item-color);
}

@media (max-width: 480px) {

    .button {
        padding: 12px 23px;
    }
}

/* Hr */

.hr_header {
    background: (--color-hr-header);
    display: none;
    height: 1px;
    margin: 0 auto;
    opacity: 0px;
}

.hr_main {
    background: var(--color-hr-main);
    height: 1px;
    opacity: 0px;
    margin: 0 auto;
}

.hr {
    max-width: var(--hr-width);
}

.hr_center {
    background: var(--color-hr-main);
    height: 1px;
    opacity: 0px;
    margin: 0 auto;
    max-width: var(--layout-width);
    padding-right: 23px;
    padding-left: 24px;
}

@media (max-width: 480px) {

    .hr_header {
        display: block;
        margin: 0;
    }
}


/* Sections */

.section_blue {
    background: var(--color-blue);
}

.section_white {
    background: var(--color-white);
}

.section_diagonal {
    background: linear-gradient(351deg, #FAFAFA 38%, #357EFE 38%);
}

/* Market-wrapper */

.market-wrapper__h1 {
    color: var(--color-white);
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0em;
    margin: 0;
    max-width: 510px;
    margin-bottom: 40px;
}

/* Img marketplaces */

.wb {
    max-width: 206px;
}

.ozon {
    max-width: 110px;
}

.yandex {
    max-width: 153px;
}

.ali {
    max-width: 155px;
}

@media (max-width: 1200px) {
    .wb {
        max-width: 163px;
    }

    .ozon {
        max-width: 87px;
    }

    .yandex {
        max-width: 121px;
    }

    .ali {
        max-width: 123px;
    }
}

/* Statistics */

.statistics__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}

.statistics__img {
    max-width: 64px;
}

.statistics__h3 {
    color: var(--color-black);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    max-width: 328px;
    margin: 0;
}

/* Advantages */

.advantages__h2 {
    color: var(--color-black);
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    margin: 0 0 24px 0;
    max-width: 556px;
}

.advantages__p {
    color: var(--advantages-p-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    max-width: 566px;
    margin: 0;
}


.advantages__self {
    position: relative;
}

.top-img {
    width: 100%;
    position: absolute;
    left: 15%;
    top: 25%;
}

/* h2 */

.h2_white {
    color: var(--color-white);
    font-size: 48px;
    font-weight: 600;
    line-height: 57.6px;
}

.h2_black {
    color: var(--color-black);
    font-size: 48px;
    font-weight: 600;
    line-height: 57.6px;
}

/* Accounting */

.accounting_text {
    color: var(--menu-item-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
}

.accounting__img {
    max-width: 1156px;
    margin-bottom: 64px;
}

.accounting__p {
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
}

.accounting__button {
    margin-bottom: 64px;
}

/* Comparison */

.comparison {
    display: flex;
    gap: 71px;
    justify-content: space-between;
    align-items: center;
    max-width: 920px;
}

.comparison__elements {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
}

.comparison__element {
    display: flex;
    gap: 8px;
    align-items: center;
}

.comparison__element-header {
    color: var(--color-white);
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
}

@media (max-width: 480px) {
    .comparison {
        flex-direction: column;
        gap: 48px;
    }
}

/* Statistics-two */

.main_text {
    color: var(--advantages-p-color);
    font-size: 17px;
    font-weight: 500;
    line-height: 23.8px;
}

.statistics-two__head {
    color: var(--color-black);
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    margin-bottom: 20px;
    display: inline-block;
}

.statistics-two__img {
    max-width: 80px;
    margin-bottom: 24px;
}

/* Mobile-version */



/* Support */

.support__h3 {
    margin-top: 0;
    margin-bottom: 24px;
    color: var(--color-white);
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}

.support_text {
    color: var(--support-color-text);
    font-size: 17px;
    font-weight: 500;
    line-height: 23.8px;
}

.contact_text {
    color: var(--color-white);
    font-size: 17px;
    font-weight: 500;
    line-height: 23.8px;
}

.contact_text:hover {
    color: var(--menu-item-color);
}

.contact_text:active {
    color: var(--menu-item-color);
}

/* Rates */

.rates__h2 {
    margin: 0;
    margin-bottom: 24px;
}

.rates__p-top {
    margin: 0;
    margin-bottom: 40px;
}

.h3_black {
    color: var(--color-black);
    font-size: 32px;
    font-weight: 800;
    line-height: 38.4px;
    text-align: left;
    margin: 0;
    margin-bottom: 16px;
}

.h3_white {
    color: var(--color-white);
    font-size: 32px;
    font-weight: 800;
    line-height: 38.4px;
    text-align: left;
    margin: 0;
    margin-bottom: 16px;
}

.rates__p-bottom {
    text-align: left;
    margin: 0;
    margin-bottom: 50px;
}

.rates__button {
    padding: 12px 63px;
    font-size: 17px;
    font-weight: 800;
    line-height: 23.8px;
    width: 100%;
    border: none;
    border-radius: 47px;
}

.rates_button-blue {
    background: var(--color-blue);
    color: var(--color-white);
    cursor: pointer;
}

.rates_button-white {
    background: var(--color-white);
    color: var(--color-blue);
    cursor: pointer;
}

.rates_button-white:hover {
    background: var(--menu-item-color);
}

.rates_button-white:active {
    background: var(--menu-item-color);
}

.rates_button-blue:hover {
    color: var(--menu-item-color);
}

.rates_button-blue:active {
    color: var(--menu-item-color);
}

.rates__element {
    color: var(--color-white);
    background: var(--color-green);
    text-align: left;
    margin-bottom: 16px;
    padding: 4px 16px;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    border-radius: 8px;
    width: 124px;
}

.self_text {
    color: var(--rate-text-color);
    font-size: 17px;
    font-weight: 500;
    line-height: 23.8px;
}

.rates__p-bottom-self {
    text-align: left;
    margin: 0;
    margin-bottom: 32px;
}

.element_yellow {
    background: var(--color-yellow);
    color: var(--color-white);
    padding: 8px 16px;
    font-size: 17px;
    font-weight: 700;
    line-height: 20.4px;
    border-radius: 8px;
}

.yellow_self {
    width: 107px;
}

.elements_gray {
    color: var(--rate-elements-color);
}

.elements_white {
    color: var(--color-white);
}

.rates_self {
    align-self: flex-end;
}

@media (max-width: 480px) {
    .rates__h2 {
        font-size: 36px;
        line-height: 43.2px;
    }

    .rates__p-top {
        margin-bottom: 32px;
    }

    .rates__button {
        max-width: 280px;
        padding: 12px 59px;
    }

    .rates__p-bottom {
        margin-bottom: 32px;
    }
}

/* Reviews */

.reviews__heading {
    color: var(--color-white);
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    margin: 0;
    margin-bottom: 45px;
    max-width: 350px;
    margin-top: 145px;
}

.reviews__author {
    color: var(--color-white);
    font-size: 17px;
    font-weight: 700;
    line-height: 23.8px;
    margin: 0;
}

.reviews__job {
    color: var(--color-white);
    font-size: 17px;
    font-weight: 500;
    line-height: 23.8px;
    margin: 0;
}

.review__button {
    width: 40px;
    height: 40px;
    opacity: 0.6px;
    border: none;
    border-radius: 50%;
    background: 0px 0px 32px 0px #4E5D7C52;
    color: var(--color-blue);
    align-self: center;
    cursor: pointer;
}

.button_right {
    padding: 10px 12px 10px 16px;
    position: absolute;
    z-index: 1;
    left: 89%;
    top: 47%;

}

.button_left {
    padding: 10px 16px 10px 12px;
}

.review__button:hover {
    background: var(--color-white);
}

.review__button:active {
    background: var(--color-white);
}