.footer {
    background: var(--color-black);
}

.footer__wrapper {
    max-width: var(--layout-width);
    margin: 0 auto;
    padding: 80px 24px 32px 24px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}

.footer__logo {
    margin-bottom: 16px;
}

.footer__p {
    max-width: 283px;
    margin: 0;
}

.footer_color-light {
    color: var(--footer-color-light);
    font-size: 17px;
    font-weight: 500;
    line-height: 23.8px;
}

.menu-small__item a {
    color: var(--footer-color-main);
    font-size: 17px;
    font-weight: 500;
    line-height: 23.8px;
    text-decoration: none;
    cursor: pointer;
}

.menu-small__item a:hover {
    color: var(--menu-item-color);
}

.menu-small__item a:active {
    color: var(--menu-item-color);
}

.menu-small {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
}

.footer__hr {
    max-width: var(--hr-width);
    height: 1px;
    background: var(--footer-hr-line);
    margin-bottom: 32px;
    opacity: 0px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment {
    display: flex;
    gap: 24px;
    align-items: center;
}

.payment__visa {
    height: 27px;
    max-width: 80px;
}

.payment__mastercard {
    height: 37px;
    max-width: 48px;
}

.payment__mir {
    height: 23px;
    max-width: 78px;
}

@media (max-width: 480px) {
    .footer__wrapper {
        padding: 64px 50px 64px 24px;
    }

    .footer__top {
        flex-direction: column;
        gap: 48px;
        margin-bottom: 48px;
    }

    .footer__bottom {
        flex-direction: column-reverse;
        gap: 24px;
    }

    .menu-small {
        padding: 0px;
    }

    .footer__hr {
        margin-bottom: 48px;
    }
}