/* Market-wrapper */

.market-wrapper {
    max-width: var(--layout-width);
    margin: 0 auto;
    padding: 0px 23px 0px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 80px;
}

.market-wrapper__button {
    margin-bottom: 80px;
}

.markets-img {
    display: flex;
    flex-direction: column;
    gap: 22px;
    max-width: 334px;
}

.markets-img__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.markets-img__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.market-wrapper__rigth-part {
    max-width: 790px;
}

@media (max-width: 480px) {

    .market-wrapper {
        padding: 32px 23px 0px 24px;
        padding-bottom: 138px;
    }

    .market-wrapper__rigth-part {
        display: none;
    }

    .market-wrapper__h1 {
        max-width: 328px;
        margin-bottom: 32px;
        font-size: 32px;
        line-height: 38px;
    }

    .market-wrapper__button {
        margin-bottom: 56px;
        padding: 12px 23px;
    }

    .markets-img {
        max-width: 264px;
    }

    .section_diagonal {
        background: linear-gradient(351deg, #FAFAFA 40%, #357EFE 40%);
    }
}


/* Statistics */

.statistics {
    max-width: var(--layout-width);
    margin: 0 auto;
    padding: 0px 23px 0px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}

@media (max-width: 480px) {

    .statistics {
        display: flex;
        flex-direction: column;
        gap: 33px;
        margin-bottom: 48px;
    }

    .statistics__h3 {
        font-size: 18px;
        line-height: 25.2px;
    }

    .statistics__img {
        width: 48px;
        height: 48px;
    }
}

/* Advantages */

.advantages {
    max-width: var(--layout-width);
    margin: 0 auto;
    padding: 0px 23px 0px 24px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: space-between;
    margin-bottom: 120px;
}

.advantages__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 38px;
}

.advantages__wrapper-reverse {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    gap: 38px;
}

@media (max-width: 480px) {
    .advantages {
        padding: 0px 23px 48px 24px;
        gap: 48px;
        margin-bottom: 0px;
    }

    .advantages__img {
        max-width: 327px;
        margin-bottom: 32px;
    }

    .advantages__wrapper {
        flex-direction: column-reverse;
        gap: 0px;
    }

    .advantages__wrapper-reverse {
        flex-direction: column-reverse;
        gap: 0px;
    }

    .advantages__h2 {
        font-size: 32px;
        line-height: 38.4px;
        margin-bottom: 24px;
    }

    .top-img {
        left: 10%;
        top: 25%;
    }
}

/* Accounting */

.accounting {
    max-width: var(--layout-width);
    margin: 0 auto;
    padding: 120px 23px 120px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accounting__h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 24px;
}

@media (max-width: 480px) {
    .accounting {
        padding: 64px 23px 64px 24px;
    }

    .accounting__img {
        max-width: 328px;
        margin-bottom: 54px;
    }

    .accounting__h2 {
        font-size: 36px;
        line-height: 43.2px;
        text-align: left;
    }

    .accounting__p {
        text-align: left;
        margin-bottom: 32px;
    }

    .accounting__button {
        margin-bottom: 48px;
    }
}

/* Statistics-two */

.statistics-two {
    max-width: var(--layout-width);
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    margin: 0 auto;
    padding: 120px 23px 80px 24px;
    gap: 46px;
}

.statistics-two__item {
    display: flex;
    flex-direction: column;
    max-width: 403px;
}

.statistics-two__p {
    margin: 0;
}

@media (max-width: 480px) {
    .statistics-two {
        padding: 64px 23px 48px 24px;
        flex-direction: column;
        gap: 32px;
    }

    .statistics-two__img {
        max-width: 64px;
        margin-bottom: 0px;
    }

    .statistics-two__head {
        font-size: 24px;
        line-height: 28.8px;
        margin-bottom: 0px;
    }

    .statistics-two__item {
        gap: 24px;
    }
}


/* Mobile-version */

.mobile-version {
    max-width: var(--layout-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 120px;
    padding: 80px 23px 0px 24px;
}

.mobile-version__h2 {
    margin: 0;
    margin-bottom: 24px;
}

.mobile-version__p {
    margin: 0;
    margin-bottom: 40px;
}

.mobile-version__img {
    max-width: 1128px;
}

.mobile-version__img-phone {
    display: none;
}

@media (max-width: 480px) {

    .mobile-version {
        padding: 48px 0 64px 24px;
        margin-bottom: 0px;
        align-items: flex-start;
    }

    .mobile-version__img {
        display: none;
    }

    .mobile-version__img-phone {
        display: block;
    }

    .mobile-version__h2 {
        font-size: 36px;
        line-height: 43.2px;
        max-width: 328px;
    }

    .mobile-version__p {
        margin-bottom: 32px;
    }
}

/* Support */

.support {
    background: var(--color-blue);
    max-width: var(--layout-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 54px;
    margin-bottom: 80px;
    border-radius: 16px;
    padding: 0 95px 0 95px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
}

.contact__element {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.support__right {
    padding-top: 80px;
    padding-bottom: 84px;
}

.support__p-top {
    margin: 0;
    margin-bottom: 40px;

}

.support__img {
    max-width: 623px;
}

.support__p-bottom {
    margin: 0;
}

@media (max-width: 480px) {

    .support {
        padding: 64px 23px 0px 24px;
        flex-direction: column-reverse;
        border-radius: 0px;
        gap: 32px;
        margin-bottom: 0px;
    }

    .support__img {
        max-width: 327px;
        height: 279px;
    }

    .support__right {
        padding: 0px;
    }

    .support__h3 {
        font-size: 36px;
        line-height: 43.2px;
    }

    .support__p-top {
        margin-bottom: 32px;
    }

    .contact {
        margin-bottom: 32px;
    }
}


/* Rates */

.rates {
    max-width: var(--layout-width);
    margin: 0 auto;
    margin-bottom: 80px;
    text-align: center;
    padding: 0px 23px 0px 24px;
}

.rates__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(369px, 1fr));
    gap: 24px;
}

.rates__card-left {
    padding: 93px 40px 48px 40px;
    box-shadow: 0px 0px 32px 0px #4E5D7C29;
    border-radius: 10px;
}

.rates__elements {
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    grid-template-rows: repeat(3, 36px);
    justify-items: start;
    font-size: 17px;
    font-weight: 500;
    line-height: 20.4px;
    row-gap: 33px;
    margin-bottom: 40px;
    align-items: center;
}

.rates__elements-self {
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    grid-template-rows: repeat(3, 36px);
    justify-items: start;
    font-size: 17px;
    font-weight: 500;
    line-height: 20.4px;
    row-gap: 33px;
    margin-bottom: 34px;
    align-items: baseline;
}

.rates__card-middle {
    padding: 48px 40px;
    box-shadow: 0px 0px 32px 0px #4E5D7C29;
    border-radius: 10px;
}

.rates__card-right {
    padding: 48px 40px;
    background: var(--color-blue);
    box-shadow: 0px 0px 32px 0px #4E5D7C52;
    border-radius: var(--border-radius-10);
}

@media (max-width: 480px) {
    .rates {
        padding: 48px 23px 0px 24px;
        margin-bottom: 64px;
        text-align: left;
    }

    .rates__card-left {
        max-width: var(--card-width);
        padding: 48px 24px;
    }

    .rates__card-middle {
        max-width: var(--card-width);
        padding: 48px 23px 28px 24px;
    }

    .rates__card-right {
        max-width: var(--card-width);
        padding: 48px 24px;
    }
}

/* Reviews */

.reviews {
    max-width: var(--layout-width);
    margin: 0 auto;
    padding: 0px 23px 0px 24px;
    margin-bottom: 80px;
}

.reviews__h2 {
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
}

.reviews__img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

.reviews__wrapper {
    display: flex;
    flex-direction: row;
    background: var(--color-blue);
    max-width: var(--layout-width-rates);
    border-radius: 10px;
    margin: 0 auto;
    padding-left: 24px;
}

.reviews__text {
    width: 578px;
    display: flex;
    gap: 50px;

}

.review__container {
    position: relative;
    width: 578px;
}

.reviews__points {
    display: none;
}

@media (max-width: 480px) {
    .reviews {
        padding: 0px 23px 0px 24px;
        margin-bottom: 64px;
    }

    .reviews__wrapper {
        flex-direction: column-reverse;
        padding: 0px;
        max-width: 328px;
    }

    .reviews__h2 {
        font-size: 36px;
        line-height: 43.2px;
        margin-bottom: 32px;
        text-align: left;
    }

    .reviews__img {
        max-width: 328px;
        height: 248px;
        border-radius: 10px;
    }

    .review__button {
        display: none;
    }

    .reviews__p {
        padding: 48px 24px 48px;
        max-width: 328px;
        background: var(--color-blue);
        border-radius: 10px;
    }

    .reviews__text {
        gap: 0px;
        max-width: 328px;
    }

    .reviews__heading {
        margin: 0px;
    }

    .review__container {
        max-width: 328px;
    }

    .reviews__heading {
        margin-bottom: 24px;
    }

    .reviews__job {
        margin-bottom: 48px;
    }

    .reviews__points {
        display: block;
        text-align: center;
        cursor: pointer;
    }
}